#main {
        padding-left: 2.5em;
        padding-right: 2.5em;
}

.lang-logo {
        width: 256px;
        height: 256px;
}

.javascript-text {
        color: rgb(240, 219, 79);
}

.python-text {
        color: #306998;
}

.java-text {
        color: rgb(248, 152, 32);
}

.php-text {
        color: rgb(137, 147, 190);
}

.ruby-text {
        color: #d51f06;
}

.typescript-text {
        color: rgb(0, 122, 204);
}

.shell-text {
        color: rgb(171, 171, 171);
}

.css-text {
        color: rgb(21, 114, 182);
}

.julia-text {
        color: rgb(148, 92, 180);
}

.html-text {
        color: rgb(230, 83, 38);
}

.brainfuck-text {
        color: rgb(252, 69, 132);
}

.dart-text {
        color: rgb(93, 183, 245);
}

.powershell-text {
        color: rgb(4, 172, 244);
}

.batch-text {
        color: rgb(252, 135, 97);
}
